@import "tailwindcss";

:root {
    --primary: #285430;
    --secondary: #FF7B00;
    --tertiary: #fbcb0a1a;
}
.text-primary{
    color: var(--primary);
}
.text-secondary{
    color: var(--secondary);
}
.text-tertiary{
    color: var(--tertiary);
}
.bg-primary{
    background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary);
}
.bg-tertiary{
    background-color: var(--tertiary);
}

button{
    @apply cursor-pointer
}